$accent-color: #2196f3;
$title-color: #ffffff;
$text-color: #757575;
$pretitle-color: #212121;
$backround-color1: #2f303a;
$backround-color2: #f5f4fa;
$black-color: #000;
$border-color: #eeeeee;
$border-color2: #ececec;
$roboto-font: "Roboto", sans-serif;
$raleway-font: "Raleway", sans-serif;