*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  color: $text-color;
  font-family: $roboto-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 3%;
}