.works {
  margin-bottom: 94px;
  &__list {
    @extend %flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__item {
    background-color: $title-color;
    border: 1px solid $border-color;
    position: relative;
    overflow: hidden;
    width: calc((100% - 60px) / 3);
    &:hover {
      box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
        0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    }
  }
  &__text {
    background-color: #2196f3e5;
    width: 370px;
    height: 294px;
    position: absolute;
    top: 0;
    left: 0;
    font-family: $roboto-font;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 3%;
    color: $title-color;
    padding: 63px 24px;
    transform: translateY(150%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__names {
    font-family: $roboto-font;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 6%;
    color: $pretitle-color;
    margin-top: 20px;
    margin-bottom: 4px;
    margin-left: 24px;
  }
  &__types {
    font-family: $roboto-font;
    font-size: 16px;
    line-height: 1.87;
    margin-bottom: 20px;
    margin-left: 24px;
  }
}
.works__item:hover .works__text,
.works__item:focus .works__text {
  transform: translateY(0);
}
